:root {
  --text-dark: #000000;
  --text-light: #ffffff;
  --text-grey: #abbbbc;
  --body-font: Roboto, sans-serif;
  --heading-font: 'Anek Telugu', sans-serif;
  --h1-size: 5.875rem;
  --h1-height: 6.75rem;
  --h2-size: 3.125rem;
  --h2-height: 4.6875rem;
  --h3-size: 2.5rem;
  --h4-size: 2rem;
  --h5-size: 1.75rem;
  --h6-size: 1.375rem;
  --subtitle-size: 1.0625rem;
  --subtitle-height: 1.625rem;
  --p-size: 1.125rem;
  --p-height: 1.625rem;
  --secondary-text-size: 0.875rem;
  --secondary-line-height: 1.125rem;
  --button-font-size: 1rem;

  /* SPACING */
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;
  --spacing-xl: 4rem;

  --standard-width: 71.5rem;

  --purple-1: #6962f7;
  --purple-2: #7000ff;
  --blue-1: #00d4ff;
  --primary-accent: #0a2540;
  --primary-button-hover: #6d7a88;
  --bg-white: #ffffff;
  --bg-light: #f7f9fc;

  --standard-box-shadow: 0 0.125rem 2.5rem rgba(0, 0, 0, 0.15);
  --primary-gradient: linear-gradient(
    101.33deg,
    #08209a 0.76%,
    #6563ff 33.33%,
    #36c5f0 76.92%,
    #83e2ff 96.96%
  );
}

body {
  font-family: var(--body-font);
  color: var(--text-dark);
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  padding: var(--spacing-sm) 0 0 0;
  background-color: var(--bg-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: var(--heading-font);
  font-weight: 600;
  font-size: var(--h1-size);
  margin: 0;
  width: 100%;
  letter-spacing: -0.0625rem;
  line-height: var(--h1-height);
}
h2 {
  font-family: var(--heading-font);
  font-weight: 600;
  font-size: var(--h3-size);
  margin: 0;
  width: 100%;
}
h3 {
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: var(--h3-size);
  margin: 0;
  width: 100%;
}
h4 {
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: var(--h4-size);
  margin: 0;
  width: 100%;
  letter-spacing: 0.0125rem;
}
h5 {
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: var(--h5-size);
  margin: 0;
  width: 100%;
}
h6 {
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: var(--h6-size);
  margin: 0;
  width: 100%;
}
a {
  text-decoration: none;
  color: var(--purple-1);
  font-weight: 500;
  transition: color 0.25s ease;
}
a:hover {
  color: var(--primary-accent);
}
p {
  font-size: var(--p-size);
  line-height: var(--p-height);
  font-weight: 400;
  margin: var(--spacing-md) 0;
}

/* LAYOUT STYLES */

main {
  margin: var(--spacing-xl) 0 0 0;
  width: 100%;
}
.section-container {
  width: 100%;
  max-width: var(--standard-width);
}
.two-column {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
}
.two-column > .col-left {
  width: 50%;
  box-sizing: border-box;
  padding: 0 var(--spacing-md) 0 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.two-column > .col-right {
  width: 50%;
  box-sizing: border-box;
  padding: 0 0 0 var(--spacing-md);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: var(--spacing-sm) var(--spacing-md) var(--spacing-sm) 0;
}
.card .icon {
  height: 3.125rem;
  margin: 0 0 var(--spacing-sm) 0;
}
.card h3 {
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: var(--h6-size);
  margin: 0;
  width: 100%;
}

/* SUBTITLE STYLES */

.subtitle,
.subtitle2 {
  color: var(--purple-1);
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: var(--subtitle-size);
  line-height: var(--subtitle-height);
}
.subtitle2 {
  color: var(--blue-1);
}
.secondary-text {
  font-size: var(--secondary-text-size);
  line-height: var(--secondary-line-height);
  color: var(--text-grey);
  letter-spacing: 0.015625rem;
}

/* BUTTON STYLES */

.primary-button,
.secondary-button {
  font-family: var(--body-font);
  font-size: var(--button-font-size);
  letter-spacing: 0.078125rem;
  font-weight: bold;
  border-radius: 1.25rem;
  background-color: var(--primary-accent);
  border: none;
  color: var(--text-light);
  padding: var(--spacing-sm) var(--spacing-md);
  cursor: pointer;
  transition: all 0.15s ease;
}
.primary-button:hover {
  background-color: var(--primary-button-hover);
}
.secondary-button {
  padding: none;
  background-color: transparent;
  color: var(--primary-accent);
}
.secondary-button:hover {
  opacity: 0.75;
}
.with-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.with-icon > img {
  transition: transform 0.25s ease;
}
.with-icon:hover > img {
  transform: translateX(0.25rem);
}

/* NAVBAR */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: var(--standard-width);
  padding: 0 var(--spacing-md);
  margin: 0 0 var(--spacing-xl) 0;
}
.menu {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}
.menu a {
  color: var(--text-light);
  margin: 0 var(--spacing-md);
  font-weight: bold;
}
.menu a:hover {
  text-decoration: underline;
}
.navbar-button {
  background-color: rgba(250, 250, 250, 0.2);
}
.navbar-button:hover {
  background-color: rgba(250, 250, 250, 0.5);
}

/* ANIMATED GRADIENT */
.gradient-container {
  width: 100%;
  overflow: hidden;
  z-index: -2;
  height: 600px;
  top: 0;
  position: absolute;
}
#gradient-canvas {
  width: 200%;
  height: 60.625rem;

  transform: rotate(-10deg);
  position: absolute;
  top: -37.5rem;
  left: -50%;
  z-index: -1;
  --gradient-color-1: #ef008f;
  --gradient-color-2: #6ec3f4;
  --gradient-color-3: #7038ff;
  --gradient-color-4: #ffba27;
}

/* HERO STYLES */

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: var(--spacing-md) 0;
}
.button-container button:nth-of-type(2) {
  margin-left: 0 0 0 var(--spacing-md);
  color: var(--purple-2);
}
.hero {
  width: 100%;
  display: flex;
  justify-content: center;
}
.hero p {
  max-width: 30rem;
}
.hero .hero-phone-container {
  height: 35.25rem;
  align-items: flex-end;
}
.hero-phone {
  height: 39.25rem;
  transform: translate(2rem, -2rem);
}

/* Partners Section */
.partners-section {
  width: 100%;
  display: flex;
  justify-content: center;
}
.partners-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: var(--spacing-xl) 0;
  column-gap: var(--spacing-md);
  row-gap: var(--spacing-lg);
}
.partners-grid img {
  height: 3.75rem;
  place-self: center;
}

/* Unified platform section */

.unified-platform-section {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: var(--spacing-xl) 0;
  background-color: var(--bg-light);
}
.unified-platform-section h2 {
  width: 50%;
  margin-bottom: var(--spacing-md);
}
.unified-platform-section .primary-button {
  background-color: var(--purple-1);
  margin: var(--spacing-md) 0;
}
.unified-platform-section .primary-button:hover {
  background-color: var(--primary-accent);
}

/* GRAPHIC GRID SECTION */
.graphic-section {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--bg-light);
}
.graphic-grid {
  display: grid;
  grid-template-areas:
    'card slack slack'
    'phone slack slack'
    'phone dash dash';
  gap: var(--spacing-lg);
  padding: var(--spacing-lg);
}
#credit-card {
  grid-area: card;
  width: 100%;
  border-radius: 10px;
  box-shadow: var(--standard-box-shadow);
}
#slack-invoice {
  grid-area: slack;
  width: 100%;
  border-radius: 20px;
  box-shadow: var(--standard-box-shadow);
}
#phone {
  grid-area: phone;
  width: 100%;
  /* box-shadow: var(--standard-box-shadow); */
}
#dash {
  grid-area: dash;
  width: 100%;
  box-shadow: var(--standard-box-shadow);
}

/* INTEGRATIONS SECTION STYLES */
.integrations-section {
  width: 100%;
  display: flex;
  justify-content: center;
  color: var(--text-light);
  position: relative;
  padding: calc(var(--spacing-xl) * 3) 0;
  z-index: 1;
}
.integrations-section::before {
  content: '';
  width: 100%;
  height: 68.75rem;
  background-color: var(--primary-accent);
  position: absolute;
  top: -2rem;
  left: 0;
  z-index: -1;
  transform: skewY(-10deg);
}
.integrations-section::after {
  content: '';
  background-color: var(--bg-light);
  width: 100%;
  height: 50%;
  position: absolute;
  top: 0;
  z-index: -2;
}
.integrations-section .primary-button {
  background-color: var(--blue-1);
  color: var(--primary-accent);
  margin: var(--spacing-md) 0 0 0;
}
.integrations-section .primary-button:hover {
  background-color: var(--bg-white);
}
.integrations-section .card-container {
  display: flex;
  margin: var(--spacing-lg) 0;
}
.integrations-section .card-container .card {
  width: 50%;
}
.integrations-section .secondary-button {
  color: var(--blue-1);
}

#api-code {
  max-width: 29.375rem;
  margin: 0 0 var(--spacing-md) 0;
  border-radius: 1.25rem;
}
#terminal-code {
  max-width: 29.375rem;
  border-radius: 1.25rem;
}

/* WHY SWIPE SECTION */
.why-swipe-section {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: calc(var(--spacing-xl) * 3) 0;
}
.why-swipe-section .card-container {
  display: flex;
  margin: var(--spacing-lg) 0;
}
.why-swipe-section .card-container .card {
  width: 25%;
  padding: 0 var(--spacing-sm) 0 0;
  margin: 0 var(--spacing-md) 0 0;
  box-sizing: border-box;
}
.why-swipe-section .secondary-text {
  color: var(--text-dark);
}

/* GLOBAL SECTION */
.global-section {
  /* background-color: var(--primary-accent); */
  width: 100%;
  display: flex;
  justify-content: center;
  color: var(--text-light);
  position: relative;
  padding: calc(var(--spacing-xl) * 3) 0 0 0;
}

.global-section::before {
  content: '';
  width: 100%;
  height: 75rem;
  background-color: var(--primary-accent);
  position: absolute;
  top: -2rem;
  left: 0;
  z-index: -1;
  transform: skewY(-10deg);
}

.global-section a {
  color: var(--blue-1);
}
.global-section a:hover {
  color: var(--text-light);
}

.global-section .card-container {
  display: flex;
  margin: calc(var(--spacing-xl) * 2) 0;
}
.global-section .card-container .card {
  width: 25%;
  box-sizing: border-box;
  padding: 0 var(--spacing-sm) 0 0;
  margin: 0 var(--spacing-md) 0 0;
}

.global-section .card-container .card h3 {
  border-left: 2px solid var(--blue-1);
  padding: 0 0 0 var(--spacing-sm);
  line-height: 28px;
}

#globe {
  max-width: 52.75rem;
  opacity: 25%;
  position: absolute;
  top: 5%;
}

/* VIRTUAL EVENTS SECTION */
.virtual-events-section {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: calc(var(--spacing-xl) * 2) 0;
  position: relative;
}
.virtual-events-section::before {
  content: '';
  background-color: var(--bg-white);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}
.virtual-events-section .primary-button {
  background-color: var(--purple-1);
  margin: var(--spacing-md) 0 0 0;
}
.virtual-events-section .primary-button:hover {
  background-color: var(--primary-accent);
}

.virtual-events-section .col-left {
  height: 27.875rem;
  padding: 0 var(--spacing-xl) 0 0;
}

.swipe-sessions-card {
  width: 33.75rem;
  height: 27.875rem;
  box-shadow: var(--standard-box-shadow);
  border-radius: 1.25rem;
  overflow: hidden;
}

.swipe-sessions-card .card-top {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.swipe-sessions-card .card-top::before {
  background: var(--primary-gradient);
  content: '';
  width: 100%;
  height: 150%;
  position: absolute;
  top: -40%;
  transform: skewY(-5deg);
  z-index: 1;
}

#sessions-logo {
  z-index: 2;
  width: 21.125rem;
}

.virtual-events-section .avatars {
  position: absolute;
  bottom: -4.375rem;
  left: var(--spacing-xl);
  z-index: 3;
  /* width: 8.75rem;
  height: 5rem; */
}
.virtual-events-section .avatars img {
  width: 5rem;
}
.virtual-events-section .avatars img:nth-of-type(2) {
  position: absolute;
  left: 3.7375rem;
}

.virtual-events-section .card-bottom {
  width: 100%;
  height: 50%;
  box-sizing: border-box;
  padding: var(--spacing-xl);
}

.virtual-events-section .card-bottom .subtitle {
  margin: var(--spacing-lg) 0 0 0;
}

.virtual-events-section .card-bottom .secondary-text {
  color: var(--text-dark);
  font-weight: 700;
  width: 50%;
}

/* GETTING STARTED SECTION */
.getting-started-section {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: var(--spacing-xl) 0;
}
.getting-started-section .col-left {
  padding: 0 var(--spacing-xl) 0 0;
}
.getting-started-section .primary-button {
  background-color: var(--purple-1);
  margin: var(--spacing-md) 0;
}

.getting-started-section .primary-button:hover {
  background-color: var(--primary-accent);
}

.getting-started-section .secondary-button {
  color: var(--purple-2);
  padding-left: 0;
}

.getting-started-section .col-right {
  flex-direction: row;
}
.getting-started-section .col-right .card {
  width: 50%;
  box-sizing: border-box;
  padding: 0 var(--spacing-sm) 0 0;
  margin: 0 var(--spacing-md) 0 0;
}

/* FOOTER STYLES */
.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: VAR(--bg-light);
  padding: var(--spacing-xl) 0;
}

#footer-logo {
  max-width: 6.75rem;
  margin: 0 0 var(--spacing-md) 0;
}

.footer .section-container {
  display: flex;
}

.footer .col {
  width: 25%;
}

.footer .col ul {
  list-style: none;
  padding: 0;
}
.footer .col ul li {
  margin: var(--spacing-md) 0;
}
.footer .col a {
  color: var(--text-dark);
  font-weight: normal;
}
.footer .col a:hover {
  color: var(--purple-1);
  text-decoration: underline;
}
.footer .icon-link {
  display: flex;
  align-items: center;
  margin: var(--spacing-md) 0;
}

.footer .icon-link img {
  width: 1.5rem;
  margin-right: var(--spacing-sm);
}

.footer h3 {
  font-size: var(--h6-size);
  font-weight: 700;
}

@media only screen and (max-width: 71.5rem) {
  .section-container {
    padding: 0 var(--spacing-md);
  }
}

@media only screen and (max-width: 53.125rem) {
  .partners-grid img {
    width: 100%;
    height: auto;
  }
}

/* TABLET SIZE */
@media only screen and (max-width: 48rem) {
  :root {
    --h1-size: 4rem;
    --h1-height: 4.5rem;
    --h3-size: 2.125rem;
  }
}

/* MOBILE SIZE */
@media only screen and (max-width: 34.375rem) {
  .partners-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
