:root {
  --text-dark: #000000;
  --text-light: #ffffff;
  --text-grey: #abbbbc;
  --body-font: Roboto, sans-serif;
  --heading-font: 'Anek Telugu', sans-serif;
  --h1-size: 5.875rem;
  --h1-height: 6.75rem;
  --h2-size: 3.125rem;
  --h2-height: 4.6875rem;
  --h3-size: 2.5rem;
  --h4-size: 2rem;
  --h5-size: 1.75rem;
  --h6-size: 1.375rem;
  --subtitle-size: 1.0625rem;
  --subtitle-height: 1.625rem;
  --p-size: 1.125rem;
  --p-height: 1.625rem;
  --secondary-text-size: 0.875rem;
  --secondary-line-height: 1.125rem;
  --button-font-size: 1rem;

  /* SPACING */
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;
  --spacing-xl: 4rem;

  --standard-width: 71.5rem;

  --purple-1: #6962f7;
  --purple-2: #7000ff;
  --blue-1: #00d4ff;
  --primary-accent: #0a2540;
  --primary-button-hover: #6d7a88;
  --bg-white: #ffffff;
  --bg-light: #f7f9fc;

  --standard-box-shadow: 0 0.125rem 2.5rem rgba(0, 0, 0, 0.15);
}

body {
  font-family: var(--body-font);
  color: var(--text-dark);
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  padding: var(--spacing-sm) 0 0 0;
  background-color: var(--bg-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: var(--heading-font);
  font-weight: 600;
  font-size: var(--h1-size);
  margin: 0;
  width: 100%;
  letter-spacing: -0.0625rem;
  line-height: var(--h1-height);
}
h2 {
  font-family: var(--heading-font);
  font-weight: 600;
  font-size: var(--h3-size);
  margin: 0;
  width: 100%;
}
h3 {
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: var(--h3-size);
  margin: 0;
  width: 100%;
}
h4 {
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: var(--h4-size);
  margin: 0;
  width: 100%;
  letter-spacing: 0.0125rem;
}
h5 {
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: var(--h5-size);
  margin: 0;
  width: 100%;
}
h6 {
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: var(--h6-size);
  margin: 0;
  width: 100%;
}
a {
  text-decoration: none;
  color: var(--purple-1);
  font-weight: 500;
  transition: color 0.25s ease;
}
a:hover {
  color: var(--primary-accent);
}
p {
  font-size: var(--p-size);
  line-height: var(--p-height);
  font-weight: 400;
  margin: var(--spacing-md) 0;
}

/* LAYOUT STYLES */

main {
  margin: var(--spacing-xl) 0;
}
.section-container {
  width: 100%;
  max-width: var(--standard-width);
}
.two-column {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
}
.two-column > .col-left {
  width: 50%;
  box-sizing: border-box;
  padding: 0 var(--spacing-md) 0 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.two-column > .col-right {
  width: 50%;
  box-sizing: border-box;
  padding: 0 0 0 var(--spacing-md);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: var(--spacing-sm) var(--spacing-md) var(--spacing-sm) 0;
}
.card .icon {
  height: 3.125rem;
  margin: 0 0 var(--spacing-sm) 0;
}
.card h3 {
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: var(--h6-size);
  margin: 0;
  width: 100%;
}

/* SUBTITLE STYLES */

.subtitle,
.subtitle2 {
  color: var(--purple-1);
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: var(--subtitle-size);
  line-height: var(--subtitle-height);
}
.subtitle2 {
  color: var(--blue-1);
}
.secondary-text {
  font-size: var(--secondary-text-size);
  line-height: var(--secondary-line-height);
  color: var(--text-grey);
  letter-spacing: 0.015625rem;
}

/* BUTTON STYLES */

.primary-button,
.secondary-button {
  font-family: var(--body-font);
  font-size: var(--button-font-size);
  letter-spacing: 0.078125rem;
  font-weight: bold;
  border-radius: 1.25rem;
  background-color: var(--primary-accent);
  border: none;
  color: var(--text-light);
  padding: var(--spacing-sm) var(--spacing-md);
  cursor: pointer;
  transition: all 0.15s ease;
}
.primary-button:hover {
  background-color: var(--primary-button-hover);
}
.secondary-button {
  padding: none;
  background-color: transparent;
  color: var(--primary-accent);
}
.secondary-button:hover {
  opacity: 0.75;
}
.with-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.with-icon > img {
  transition: transform 0.25s ease;
}
.with-icon:hover > img {
  transform: translateX(0.25rem);
}

/* NAVBAR */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.menu {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}
.menu a {
  color: var(--text-light);
  margin: 0 var(--spacing-md);
  font-weight: bold;
}
.menu a:hover {
  text-decoration: underline;
}
.navbar-button {
  background-color: rgba(250, 250, 250, 0.2);
}
.navbar-button:hover {
  background-color: rgba(250, 250, 250, 0.5);
}

/* HERO STYLES */

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: var(--spacing-md) 0;
}
.button-container button:nth-of-type(2) {
  margin-left: 0 0 0 var(--spacing-md);
  color: var(--purple-2);
}
.hero p {
  max-width: 30rem;
}
.hero .hero-phone-container {
  height: 35.25rem;
  align-items: flex-end;
}
.hero-phone {
  height: 39.25rem;
  transform: translate(2rem, -2rem);
}

/* Partners Section */
.partners-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: var(--spacing-xl) 0;
  column-gap: var(--spacing-md);
  row-gap: var(--spacing-lg);
}
.partners-grid img {
  height: 3.75rem;
  place-self: center;
}

/* Unified platform section */

.unified-platform-section {
  padding: var(--spacing-xl) 0;
}
.unified-platform-section h2 {
  width: 50%;
  margin-bottom: var(--spacing-md);
}
.unified-platform-section .primary-button {
  background-color: var(--purple-1);
  margin: var(--spacing-md) 0;
}
.unified-platform-section .primary-button:hover {
  background-color: var(--primary-accent);
}

/* GRAPHIC GRID SECTION */

.graphic-grid {
  display: grid;
  grid-template-areas:
    'card slack slack'
    'phone slack slack'
    'phone dash dash';
  gap: var(--spacing-lg);
  padding: var(--spacing-lg);
}
#credit-card {
  grid-area: card;
  width: 100%;
  box-shadow: var(--standard-box-shadow);
}
#slack-invoice {
  grid-area: slack;
  width: 100%;
  box-shadow: var(--standard-box-shadow);
}
#phone {
  grid-area: phone;
  width: 100%;
  box-shadow: var(--standard-box-shadow);
}
#dash {
  grid-area: dash;
  width: 100%;
  box-shadow: var(--standard-box-shadow);
}

/* INTEGRATIONS SECTION STYLES */
.integrations-section {
  color: var(--text-light);
  background-color: var(--primary-accent);
}
.integrations-section .primary-button {
  background-color: var(--blue-1);
  color: var(--primary-accent);
  margin: var(--spacing-md) 0 0 0;
}
.integrations-section .primary-button:hover {
  background-color: var(--bg-white);
}
.integrations-section .card-container {
  display: flex;
  margin: var(--spacing-lg) 0;
}
.integrations-section .card-container .card {
  width: 50%;
}
.integrations-section .secondary-button {
  color: var(--blue-1);
}

#api-code {
  max-width: 29.375rem;
  margin: 0 0 var(--spacing-md) 0;
  border-radius: 1.25rem;
}
#terminal-code {
  max-width: 29.375rem;
  border-radius: 1.25rem;
}
